{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<link href="static/css/style.css" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<style>
    body {
        background: #FFF;
    }
</style>
{% endblock %}


{% block title %}
Pokémon Card Generator - Le Wagon 2021
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
            <h1 id="pokemon_title" class="pt-5 pb-2">Pokémon Card Generator</h1>

            {{ wtf.quick_form(form) }}
            <p class="pt-5"><strong>{{ message }}</strong></p>
            <br>
            <br>

            <div class='globalclass'>
                <div class="containeur">
                    <!-- fond de la carte -->
                    <img id="card" src="../static/images/cleaned_cards/{{card_data.data.types[0].lower()}}.png" />
                    <!-- nom du pokémon -->
                    {% if card_data.data.types[0].lower() == "darkness" %}
                    <p id="name_whited">{{card_data.data.name}}</p>
                    {% else %}
                    <p id="name">{{card_data.data.name}}</p>
                    {% endif %}
                    <!-- HP -->
                    {% if card_data.data.types[0].lower() == "darkness" %}
                    <p id="hp_whited"><span style="font-size: 25px; font-weight: 900">HP</span>{{card_data.data.hp}}
                    </p>
                    {% else %}
                    <p id="hp"><span style="font-size: 25px; font-weight: 900">HP</span>{{card_data.data.hp}}</p>
                    {% endif %}
                    <!-- illustration -->
                    <img id="illustration" style="height: 395px"
                        src="https://www.lesgones.net/{{card_data.data.illustration}}" />
                    <!-- category -->
                    <div class="centered">
                        <p id="category">NO. {{card_data.data.nationalPokedexNumbers[0]}}
                            {{card_data.data.category}} Pokémon HT:
                            {{card_data.data.height}} WT: {{card_data.data.weight}}.</p>
                    </div>
                    <div id="attacks">
                        <table id="attack_table">
                            <tr height="35px">
                                <!-- abilités -->
                                {% if card_data.data.abilities|length >0 %}
                                <td id="td_ability"><img id="ability" src="../static/images/card_icons/ability.png" />
                                </td>
                                <td colspan="2">
                                    <p id="ability_name">{{card_data.data.abilities[0].name}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    {% if card_data.data.types[0].lower() == "darkness" %}
                                    <p id="ability_text_whited">{{card_data.data.abilities[0].text}}</p>
                                    {% else %}
                                    <p id="ability_text">{{card_data.data.abilities[0].text}}</p>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endif %}

                            {% for attack in card_data.data.attacks %}
                            <tr>
                                <!-- attaques -->
                                <td id="td_attack_logo">
                                    {% for mana in card_data.data.attacks[0].cost %}
                                    <img width=40 src="../static/images/card_icons/{{mana.lower()}}_logo.png" />
                                    {% endfor%}
                                </td>
                                <td>
                                    {% if card_data.data.types[0].lower() == "darkness" %}
                                    <p id="attack_name_whited">{{attack.name}}</p>
                                    {% else %}
                                    <p id="attack_name">{{attack.name}}</p>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if card_data.data.types[0].lower() == "darkness" %}
                                    <p id="attack_damage_whited">{{attack.damage}}</p>
                                    {% else %}
                                    <p id="attack_damage">{{attack.damage}}</p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    {% if card_data.data.types[0].lower() == "darkness" %}
                                    <p id="attack_text_whited">{{attack.text}}</p>
                                    {% else %}
                                    <p id="attack_text">{{attack.text}}</p>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor%}
                        </table>
                    </div>
                    <!-- faiblesse -->
                    {% if card_data.data.weaknesses|length >0 %}
                    <p id="weakness"><img width=25
                            src="../static/images/card_icons/{{card_data.data.weaknesses[0].type.lower()}}_logo.png" />
                        {{card_data.data.weaknesses[0].value}}</p>
                    {% endif %}

                    <!-- résistance -->
                    {% if card_data.data.resistances|length >0 %}
                    <p id="resistance"><img width=25
                            src="../static/images/card_icons/{{card_data.data.resistances[0].type.lower()}}_logo.png" />
                        {{card_data.data.resistances[0].value}}</p>
                    {% endif %}

                    <!-- coût de retrait -->
                    {% if card_data.data.retreatCost|length >0 %}
                    <p id="retreatCost">
                        {% for mana in card_data.data.retreatCost %}
                        <img width=25 src="../static/images/card_icons/{{mana.lower()}}_logo.png" />
                        {% endfor%}
                    </p>
                    {% endif %}

                    <!-- text d'ambiance -->
                    {% if card_data.data.types[0].lower() == "darkness" %}
                    <div id="flavorText_whited">
                        <p>{{card_data.data.flavorText}}</p>
                    </div>
                    {% else %}
                    <div id="flavorText">
                        <p>{{card_data.data.flavorText}}</p>
                    </div>
                    {% endif %}

                    <!-- illustrateur -->
                    {% if card_data.data.types[0].lower() == "darkness" %}
                    <div id="illustrator_whited">
                        <p>Illus. LeWagonLyon</p>
                    </div>
                    {% else %}
                    <div id="illustrator">
                        <p>Illus. LeWagonLyon</p>
                    </div>
                    {% endif %}

                    <!-- logo d'édition -->
                    <img id="logo"
                        src="https://dwj199mwkel52.cloudfront.net/assets/lewagon-logo-square-b6124eb974be375884558e4464efce48a9b5664f18422768156364363ecdd1fc.png" />


                    {% if card_data.data.types[0].lower() == "darkness" %}
                    <div id="card_number_whited">
                        <p>{{card_number}}</p>
                    </div>
                    {% else %}
                    <div id="card_number">
                        <p>{{card_number}}</p>
                    </div>
                    {% endif %}

                    {% if card_data.data.types[0].lower() == "darkness" %}
                    <img id="rarity_icon" src="../static/images/card_icons/rarity_whited_{{rarity}}.png" />
                    {% else %}
                    <img id="rarity_icon" src="../static/images/card_icons/rarity_{{rarity}}.png" />
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div id="wagon_card">
        <p style="text-align: right;">powered by batch#630 @</p><img style="height: 30px;"
            src="../static/images/tools/le-wagon-logo.png" />
    </div>
</div>

{% endblock %}