{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<style>
    body {
        background: #FFF;
    }
</style>
{% endblock %}


{% block title %}
Pokémon Card Generator - Le Wagon 2021
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

            <h1 class="pt-5 pb-2">Welcome to the Pokémon Card Generator!</h1>

            <p class="lead">This is a coding bootcamp project, and in no way, shape or form endorsed by Nintendo™.</p>

            {{ wtf.quick_form(form) }}

            <p class="pt-5"><strong>{{ message }}</strong></p>


            <p>{{card_data.data.name}}</p>
            <p>{{card_data.data.hp}}</p>
            {% if card_data.data.abilities|length >0 %}
            <p>{{card_data.data.abilities}}[0].text</p>
            {% endif %}

            <p>Type : {{card_data.data.types[0]}}</p>
            {% for attack in card_data.data.attacks %}
            <p>cost: {{attack.cost}} name: {{attack.name}} text: {{attack.text}} dmg: {{attack.damage}}</p>
            {% endfor%}

            {% if card_data.data.weaknesses|length >0 %}
            <p>Weakness: {{card_data.data.weaknesses.text}}</p>
            {% endif %}

            {% if card_data.data.resistances|length >0 %}
            <p>Resistances: {{card_data.data.resistances}}</p>
            {% endif %}

            <p>Retreat cost: {{card_data.data.retreatCost}}</p>
            <p><strong>Flavor text: {{card_data.data.flavorText}}</strong></p>

            <p>weight: {{card_data.data.weight}}</p>
            <p>height: {{card_data.data.height}}</p>
            <p>category: {{card_data.data.category}}</p>
            <p>illustration relative path {{card_data.data.illustration}}</p>


        </div>
    </div>
</div>

{% endblock %}