# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy==1.19.5
pandas
scikit-learn
matplotlib==3.2.2

# API
requests
uvicorn
fastapi

# utilities
joblib

# web
flask

# Openai for text models
openai
