.globalclass {
  font-size:1.6rem;
}

.containeur {
  position:absolute;
  /* marge sur les cotés de l'écran */
  padding-right: 15px;
  padding-left: 15px;

  /* centr */
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

#card
{
z-index: -10;
position:absolute;
}
#ability
{
z-index: 20;
}

#ability_name
{
z-index: 20;
font-weight: bold;
color: #9c1114;
font-size:3rem;
}

#ability_text, #attack_text
{
z-index: 20;
font-size: 2.1rem;
}

#name
{
  position: absolute;
  z-index: 30;
  left: 150px;
  top: 36px;
  font-size: 3.8rem;
  font-weight: bold;
}

#hp
{
  position: absolute;
  z-index: 40;
  left: 561px;
  top: 39px;
  font-size: 4.2rem;
  font-weight: bold;
}

#illustration
{
  position: absolute;
  z-index: -20;
  left: 73px;
  top: 100px;
}


#category {
  font-size: 1.5rem;
  position: absolute;
  z-index: 40;
  top: 490px;
  width: 540px;
  color: #272727;
}

.centered {
  margin: 0 auto;
  width: 50%;
}

#attacks {
  position: absolute;
  z-index: 50;
  left: 69px;
}

#attack_table {
  position: absolute;
  z-index: 50;
  left: 0px;
  top: 550px;
  width: 600px;
}

#attack_name_and_damage {
  font-size:3.5rem;
}

td, tr, table {
  border: 0px solid black;
}

#flavorText {
  position: absolute;
  z-index: 50;
  left: 259px;
  top: 920px;
  width: 450px;
  font-size: 1.6rem;
  text-align: right;
}

#illustrator {
  position: absolute;
  z-index: 50;
  left: 64px;
  top: 931px;
  font-size: 1.4rem;
  font-weight: bold;
}

#logo {
  position: absolute;
  z-index: 50;
  left: 60px;
  top: 955px;
  width: 30px;
}


#weakness {
  position: absolute;
  z-index: 50;
  left: -75px;
  top: 884px;
  width: 250px;
  font-size: 1.6rem;
  text-align: right;
  font-weight: bold;
}

#resistance {
  position: absolute;
  z-index: 50;
  left: 24px;
  top: 884px;
  width: 350px;
  font-size: 1.6rem;
  text-align: right;
  font-weight: bold;
}

#retreatCost {
  position: absolute;
  z-index: 50;
  left: 539px;
  top: 884px;
  font-size: 1.6rem;
  text-align: right;
}
