.globalclass {
  font-size:1.6rem;
}

.containeur {
  position:absolute;
  /* marge sur les cotés de l'écran */
  padding-right: 15px;
  padding-left: 15px;

  /* centr */
  margin-right: auto;
  margin-left: auto;
}

#card
{
z-index: -10;
position:absolute;
}
#ability
{
position:relative;
z-index: 20;
left: 49px;
top: 455px;
}

#ability_name
{
position:absolute;
z-index: 20;
left: 252px;
top: 421px;
font-weight: bold;
color: #9c1114;
font-size:3rem;
}

#ability_text
{
position:absolute;
z-index: 20;
left: 72px;
top: 416px;
font-size: 2.1rem;
padding-right: 70px;
}

#name
{
  position: absolute;
  z-index: 30;
  left: 150px;
  top: 36px;
  font-size: 3.8rem;
  font-weight: bold;
}

#hp
{
  position: absolute;
  z-index: 40;
  left: 561px;
  top: 39px;
  font-size: 4.2rem;
  font-weight: bold;
}

#illustration
{
  position: absolute;
  z-index: -1;
  left: 73px;
  top: 101px;
}
